.home {
  width: 100%;
  height: 100vh;
  background: url(../assets/github-wp.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
}

.main-title {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.main-title h1 {
  color: #c9510c;
  font-size: 46px;
  font-weight: 400px;
}

.main-title p {
  color: #c9510c;
  font-size: 24px;
  font-weight: lighter;
}

.main-title button {
  padding: 12px 32px;
  border: none;
}